/* NAVBAR SECTION */

/* ============== */

/* ☀️ Animasi khusus sun */
.rotate-sun {
  animation: spin-sun 1s ease-in-out;
}

@keyframes spin-sun {
  from {
    transform: rotate(0deg) scale(0);
  }

  to {
    transform: rotate(180deg) scale(1);
  }
}

/* 🌙 Animasi khusus moon */
.rotate-moon {
  animation: spin-moon 1s ease-in-out;
}

@keyframes spin-moon {
  from {
    transform: rotate(0deg) scale(0.5);
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

/* Carosel */
.animate-horizontal-loop {
  --carousel-duration: 20s;
}

/* Scroll Anchoring browser */
.no-scroll-anchor {
  overflow-anchor: none;
}
